.footer{
    background-color: var(--black-bg);
    color: var(--white);
    padding: 250px 0 44px 0;
    &-container{
        max-width: 1343px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
        &-item{
            &__title{
                font-size: 17px;
                line-height: 19.5px;
                text-transform: uppercase;
                margin-bottom: 18px;
                font-weight: 400;
            }
            &__btn{
                max-width: 316px;
                background-color: var(--black);
                color: var(--white);
                width: 100%;
                cursor: pointer;
                padding: 16px 0;
                border: 1px solid var(--white);
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                transition: opacity .3s ease;
                &:hover{
                    opacity: .7;
                }

            }
        }
        &-info{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
       
    }
    &-nav{
        &__title{
            font-size: 17px;
            line-height: 19.5px;
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 12px;
        }
        &__list{
            display: flex;
            flex-direction: column;
            list-style: none;
            padding-left: 0;
            gap: 5px;
           
        }
        &__link{
            text-decoration: none;
            font-size: 14px;
            line-height: 16px;
            color: var(--white);
            transition: opacity .3s ease;
            &:hover{
                opacity: .7;
            }
        }
        &__icons{
            display: flex;
            gap: 17px;
            margin-top: 30px;
        }
    }
    &-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 216px  84px 0 84px;

    }
}