.soon {
  background-color: var(--black-bg);
  color: var(--white);
  &-title {
    text-align: center;
    padding: 1px 0;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  &-carousel {
    height: 100%;
    background-color: transparent;
  }
  &-carousel-slide {
    position: relative;
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-carousel-info {
    position: absolute;
    left: 116px;
    bottom: 113px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media screen and (max-width: 768px) {
      left: 50px;
      bottom: 40px;
      gap: 8px;
    }

    &__title {
      margin: 0;
      font-size: 50px;
      line-height: 57.5px;
      text-transform: uppercase;
      font-weight: 400;
      @media screen and (max-width: 768px) {
        font-size: 15px;
        line-height: 17.5px;
      }
    }
    &__link {
      color: var(--white);
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      @media screen and (max-width: 768px) {
        font-size: 8px;
        line-height: 9px;
      }
    }
  }
  &-carousel-btn-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 42px;
    cursor: pointer;
    z-index: 99;

    svg {
      @media screen and (max-width: 768px) {
        width: 2.1px;
      }
    }
  }
  &-carousel-btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 42px;
    cursor: pointer;
    z-index: 99;
    svg {
      @media screen and (max-width: 768px) {
        width: 2.1px;
      }
    }
  }
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--white);
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    &__item {
      max-width: 810px;
      width: 100%;
      height: 100%;
      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__card {
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 768px) {
        padding: 44px 27px;
      }
    }
  }
}

.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
